.content {
  max-width: 700px;
  margin-inline: auto;
  font-size: 0.875rem;

  .experience {
    margin-block-end: 2rem;

    .start,
    .role {
      text-transform: capitalize;
    }

    .start {
      color: var(--font-gray-color);
      min-width: 200px;
    }

    .from {
      display: inline-block;
    }

    .space {
      padding-inline: 0.5rem;
    }

    .end {
      padding-inline-start: 1.5rem;
      max-width: 500px;

      a {
        text-transform: inherit;
      }

      .role,
      .responsibilities {
        // colo/r: var(--font-gray-color-secondary);
      }

      .role {
        display: block;
        margin-block-start: 0.25rem;
      }

      .responsibilities {
        gap: 0.5rem;
        margin-block-start: 1rem;

        .responsability {
          width: 100%;

          .dash {
            width: 0.5rem;
            height: 100%;
            display: inline-block;
            margin-inline-end: 0.5rem;
          }

          .responsabilityContent {
            display: inline-block;
            width: calc(100% - 1rem);

            &:first-letter {
              text-transform: capitalize;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    width: calc(100% - 2rem);

    .experience {
      .from {
        min-width: auto;
      }

      .start {
        width: 100%;
      }

      .end {
        padding-inline-start: 0;
      }
    }
  }
}
