.content {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;

  .personImage,
  .personInfo {
    width: 100%;
    min-height: 500px;
    height: 70vh;
  }

  .personImage {
      aspect-ratio: 1/1;
      object-fit: cover;
      mix-blend-mode: color-burn;
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      border: 1px solid var(--border-color);
  }

  .personInfo {
    padding-block-start: 4rem;
    padding-inline-start: 2rem;

    .pageTitle {
      font-size: 3rem;
      margin-block-end: 2rem;
    }

    .description {
      gap: 1rem;

      p {
        word-wrap: break-word;
        line-height: 1.5rem;
      }
    }

    .cv {
      padding: 1rem;
      border-radius: 0.5rem;
      background-color: var(--gray-background-color);
      margin-block-start: 1rem;
      border: 1px solid #ccc;
      text-decoration: underline;
      
      .underlineOffset {
        text-transform: initial;
        text-underline-offset: 0.25rem;
      }
    }
  }

  @media screen and (max-width: 768px) {
    display: block;

    .personImage,
    .personInfo {
      height: auto;
    }

    .personImage {
      min-height: 290px;
      height: 290px;
    }

    .personInfo {
      padding-block-start: 2rem;
      padding-inline-start: 0;
    }
  }
}
